<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="showSidebar">
      <mat-list role="list" style="width:240px;">
        <mat-list-item >
          <mat-icon matListItemIcon>home</mat-icon>
          <div matListItemTitle>Inicio</div>
        </mat-list-item>
        <mat-list-item >
          <mat-icon matListItemIcon>person</mat-icon>
          <div matListItemTitle>Usuarios</div>
        </mat-list-item>
        <mat-list-item >
          <mat-icon matListItemIcon>book</mat-icon>
          <div matListItemTitle>Cursos</div>
        </mat-list-item>
        <mat-list-item >
          <mat-icon matListItemIcon>folder</mat-icon>
          <div matListItemTitle>Reportes</div>
        </mat-list-item>
        <mat-list-item >
          <mat-icon matListItemIcon>exit_to_app</mat-icon>
          <div matListItemTitle>Cerrar Sesión</div>
        </mat-list-item>
      </mat-list>
    </mat-drawer>
    <main>
      <ng-content></ng-content>
    </main>
  </mat-drawer-container>
